<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-brand>Todo List</b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item v-for="(link, index) in navLinks" :key="index">
          <router-link v-if="link.logged==$parent.logged" class="nav-link" :to="link.path">{{link.text}}</router-link>
        </b-nav-item>

        <b-button v-if="this.$parent.logged==true" @click="logout()">Logout</b-button>
      </b-navbar-nav>
    </b-navbar>
  </div>

</template>

<script>
  import router from '../router';

  export default {
    name: "Navbar",
    props: ['navLinks', 'logged'],
    methods: {
      logout() {
        if (localStorage.getItem("usertoken") !== null) {
          localStorage.removeItem("usertoken")
          router.push({name: 'login'})
          this.$parent.logged = false
        }
      }
  },
  mounted() {
    this.$parent.checkToken()
  }
}

</script>

<style>
</style>