<template>
  <div id="app">
    <Navbar :nav-links="navLinks"/>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
  import Navbar from './components/Navbar';
  import axios from 'axios';
  import router from './router';
  
  // import Octicon, { Octicons } from 'octicons-vue'

  export default {
    components: {
      Navbar
    },
    data() {
      return {
        navLinks: [
          { path: '/home',  text: 'Home', logged: true},
          { path: '/profile', text: 'Profile', logged: true},
          { path: '/tasks', text: 'Tasks', logged: true}, 
          { path: '/', text: 'Login', logged: false},
          { path: '/register', text: 'Register', logged: false} 
        ],
        logged: false
      }
    },
    methods: {
      checkToken() {
        this.logged = (localStorage.getItem("usertoken") !== null) 
      },
      auth() {
        const AuthStr = 'Bearer '.concat(localStorage.usertoken)
        axios.get('http://localhost:5000/users/auth', 
          {headers: {'Authorization': AuthStr } })
        .then((res) => {
          if(res.status != 200) {
            router.push({name: 'login'})
          }
        }).catch(this.handleErrors)
      },
      handleErrors(error) {
        if(error.response) {
          console.log("Problem with response", error.response.status);
          if(error.response.status == 401 || error.response.status == 422)  {
            router.push({name: 'login'})
          }
        } else if(error.request) {
          console.log("Problem with request");
        } else {
          console.log("Error", error.message)
        }
      }
    },
    mounted() {
      // this.checkToken()
    }
  }
</script>
