<template>
	<div class="login container">
		<div class="login-form">
			<h3 class="login-heading">Login</h3>

			<form>
				<div class="button-container">
					<label for="username">Username</label>
					<input type="username" name="username" class="login-input" id="username" v-model="username">
				</div>

				<div class="button-container">
					<label for="password">Password</label>
					<input type="password" name="password" class="login-input" id="password" v-model="password">
				</div>

				<div class="button-container">
					<button type="button" class="btn-submit" @click="login()">Login</button>
				</div>
			</form>

		</div>
	</div>
</template>

<style scoped>
	.login-heading {
		padding: 10px 
	}
	.login-form {
		margin-top: 10%;
		border: 2px solid black;
		border-width: thin;
		border-radius: 15px;
		width: 35%;
		margin-left: 25%;
		height: 10%;
		background-color: #C2C5CC;
	}
	.login-form .login-input {
		width: 80%;
		margin: auto;
		display: block;
	}
	.login-form .button-container {
		padding: 10px;
	}
	input, label {
	    display:block;
	}
	.btn-submit {
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 8px;
	}
	label {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
	}
	input[type="username"], input[type="password"]
	{
	    font-size:18px;
	}
</style>

<script>
	import axios from 'axios';
	import router from '../router';

	export default {
		data() {
			return {
				username: '',
				password: '',
				token: localStorage.usertoken
			}
		},
		methods: {
			login() {
				axios.post('http://localhost:5000/users/login', 
					{
						username: this.username, 
						password: this.password
					}
					).then((res) => {
						localStorage.setItem('usertoken', res.data)
						router.push({name: 'tasks'})
						this.$parent.logged = true
					})
			},
			removeToken() {
				if (localStorage.getItem("usertoken") !== null) {
					localStorage.removeItem("usertoken")
				}
			}
		},
		mounted() {
			this.removeToken()
			// this.$parent.auth()
		}
	}
</script>