<template>
  <div class="profile">
	<h1>Profile</h1>
	<h1>Username: {{username}}</h1>
	<h1>Email: {{email}}</h1>
  </div>
</template>

<style scoped>
  h1, p {
    color: white;
  }
</style>

<script>
  import jwtDecode from 'jwt-decode'

  export default {
    data() {
      return {
        username: '',
        email: ''
      }
    },
    methods: {
      getTokenInfo() {
        if (localStorage.getItem("usertoken") !== null) {
          const token = localStorage.usertoken
          const decoded = jwtDecode(token)
          this.username = decoded.identity.username
          this.email = decoded.identity.email
        }
      }
    },
    mounted() {
      this.getTokenInfo();
      this.$parent.auth();
    }
  }

</script>
