<template>
	<div class="register container">
		<div class="login-form">
			<h2 class="login-heading">Register</h2>
			<form>
				<div class="button-container">
					<label for="username">Username</label>
					<input type="username" name="username" id="username" class="login-input" v-model="username">
				</div>

				<div class="button-container">
					<label for="email">Email Address</label>
					<input type="email" name="email" id="email" class="login-input" v-model="email">
				</div>

				<div class="button-container">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="login-input" v-model="password">
				</div>


				<div class="button-container">
					<button type="button" class="btn-submit" @click="register()">Register</button>
				</div>
			</form>
 		</div>
	</div>
</template>

<style scoped>
	.login-heading {
		padding: 10px 
	}
	.login-form {
		margin-top: 10%;
		border: 2px solid black;
		border-width: thin;
		border-radius: 15px;
		width: 35%;
		margin-left: 25%;
		height: 10%;
		background-color: #C2C5CC;
	}
	.login-form .login-input {
		width: 80%;
		margin: auto;
		display: block;
	}
	.login-form .button-container {
		padding: 10px;
	}
	input, label {
	    display:block;
	}
	.btn-submit {
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 8px;
	}
	label {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
	}
	input[type="username"], input[type="password"], input[type="email"]
	{
	    font-size:18px;
	}
</style>

<script>
	import axios from 'axios';
	import router from '../router';

	export default {
		data() {
			return {
				username: '',
				email: '',
				password: ''
			}
		},
		methods: {
			register() {
				axios.post('http://localhost:5000/users/register', 
					{
						username: this.username, 
						password: this.password,
						email: this.email
					}
					).then((res) => {
						alert(res.data)
						router.push({name: 'login'})
					})
			}
		}
	}
</script>