<template>
  <div class="tasks">
	<div class="new-task-container center">
		<b-form @submit="newTask">
			<b-input v-model="newTitle" name="newTask" id="new-task-input" size="lg" placeholder="New task"></b-input>
		</b-form>
	</div>
	<!-- <p>{{tasks}}</p> -->
	<draggable v-model="tasks" group="tasks" @change="changed" @start="drag=true" @end="drag=false">
		<div v-for="(todo,index) in tasks" :key="todo.id" class="todo-item center">

			<div :class="`${todo.id}-header`">
				<h4 v-bind:class="{'completed': todo.completed==true}" v-show="isEditing != index">{{todo.title}}</h4>
				

				<b-form @submit="submitEdit($event, index)">
					<b-input 
						v-model="editTitle" 
						v-show="isEditing == index" 
						id="editTitle" 
						:placeholder="todo.title"
						>
					</b-input>
				</b-form>

			</div>


			<div class="button-container">

				<a class="task-button" :id="todo.id" @click="completeTask($event, index)">
					<Octicon :icon="Octicons.check" />
				</a>

				<a class="task-button" :id="todo.id" @click="editTask($event, index)">
					<Octicon :icon="Octicons.pencil" />
				</a>

				<a class="task-button" :id="todo.id" @click="removeTask($event, index)">
					<Octicon :icon="Octicons.x" />
				</a>

			</div>
		</div>
	</draggable>


  </div>
</template>

<style scoped>
	.center {
	margin: auto;
	}
	.new-task-container {
		width: 50%;
		padding: 20px;
	}
	.todo-item {
		width: 45%;
		margin-bottom: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}
	.task-button {
		cursor: pointer;
		margin-right: 10px
	}
	.completed {
		text-decoration: line-through
	}
</style>

<script>
	import axios from 'axios';
	import draggable from 'vuedraggable';
	const { Octicon, Octicons } = require('octicons-vue')

	export default {
		components: {
			Octicon, draggable
		},
		data() {
			return {
				token: localStorage.usertoken,
				tasks: [],
				newTitle: '',
				isEditing: -1,
				Octicons,
				editTitle: ''
			}
		},
		methods: {
			getTasks() {
				const AuthStr = 'Bearer '.concat(this.token)
				axios.get('http://localhost:5000/tasks',
					{headers: {'Authorization': AuthStr } })
				.then((res) => {
					this.tasks = res.data
				}).catch(this.$parent.handleErrors)
			},
			newTask(e) {
				e.preventDefault();
				const AuthStr = 'Bearer '.concat(this.token)
				axios.post('http://localhost:5000/tasks',
				{title: this.newTitle},
				{headers: {'Authorization': AuthStr} })
				.then((res) => {
					this.tasks.push(res.data)
					this.newTitle = ''
				})
			},
			removeTask(e, index) {
				let taskId = this.tasks[index]['_id']
				const AuthStr = 'Bearer '.concat(this.token)
				axios.delete(`http://localhost:5000/tasks/${taskId}`,
					{headers: {'Authorization': AuthStr} })
				.then(this.tasks.splice(index, 1))
			},
			submitEdit(e, index) {
				let taskId = this.tasks[index]['_id']
				const AuthStr = 'Bearer '.concat(this.token)
				axios.patch(`http://localhost:5000/tasks/${taskId}`,
				{title: this.editTitle},
				{headers: {'Authorization': AuthStr} })
				.then((res) => {
					this.tasks[index]['title'] = res.data[0]['title']
				})
				this.editTitle = ''
				this.isEditing = -1

			},
			editTask(e, index) {
				if(this.isEditing != index) {
					this.isEditing = index
				} else {
					this.isEditing = -1
				}
			},
			changed(e) {
				let element = e.moved.element
				let oldIndex = e.moved.oldIndex
				let newIndex = e.moved.newIndex
				let taskId = element._id
				// alert(`${element._id} is moved from position ${oldIndex} to ${newIndex}`)
				// alert(taskId)
				const AuthStr = 'Bearer '.concat(this.token)
				axios.patch('http://localhost:5000/tasks/move',
				{old: oldIndex, new: newIndex, id: taskId},
				{headers: {'Authorization': AuthStr} })
			},
			completeTask(e, index) {
				this.tasks[index]['completed'] = !this.tasks[index]['completed'];
				const AuthStr = 'Bearer '.concat(this.token)
				let new_status = this.tasks[index]['completed']
				let taskId = this.tasks[index]['_id']
				axios.patch('http://localhost:5000/tasks/complete', 
				{
					id: taskId,
					status: new_status
				},
				{headers: {'Authorization': AuthStr} })
			}
		},
		mounted() {
			this.getTasks();
			this.$parent.auth();
		}
	}

</script>
