<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div class="main">
{% block content %}
{% endblock %}
</div>

{% block scripts %}
{% endblock %}

{% block style %}
{% endblock %}