<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

<body>
  {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
  {% endif %}
  <div class="login-container container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signin" action="/signup" method="post">

              <div class="form-label-group">
                <input type="text" name="inputUser" class="form-control" placeholder="Username">
              </div>

              <div class="form-label-group">
                <input type="text" name="inputEmail" class="form-control" placeholder="Email Address">
              </div>

              <div class="form-label-group">
                <input type="password" name="inputPassword" class="form-control" placeholder="Password">
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                Sign up
              </button>

              <hr class="my-4">

              <a class="btn btn-lg btn-sign-in-red btn-block text-uppercase" href="/">
                Already have an account? Sign In
              </a>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>