{% extends "layout.html" %}

{% block content %}

<div id="app">
	[[title]]
  {{tasks}}
</div>




{% endblock %}

{% block scripts %}

<script>
	var app = new Vue({
		el: '#app',
		delimiters: ['[[', ']]'],
		data: {
			title: "Hello World"
		}
	})
</script>

{% endblock %}

{% block style %}

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

{% endblock %}